// Colors

$background: #202020;
$neon-blue: #3BDEFF;
$neon-pink: #FF5DE4;
$neon-yellow: #FAFF60;
$neon-green: #72FFB9;

$button-gradient-background: rgb(0,166,240);
$button-gradient : linear-gradient(145deg, rgba(0,166,240,1) 0%, rgba(249,147,224,1) 100%);
$button-gradient-reverse : linear-gradient(145deg, rgba(249,147,224,1) 0%, rgba(0,166,240,1) 100%);
//$header-shadow: text-shadow: 1px 1px 6px #FFFFFF;


// Borders
 





// Font Size






// Spacing





// Media queries

$desktop: 800px;
$tablet: 700px;
$mobile: 480px;


// Font Family

$sans-serif: 'League Sparten', san-serif;
