.banner {
    padding-top: 200px;
    margin: 0 auto;
    margin-bottom: 150px;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    @include clearfix;
    @media (max-width: $tablet) {
        margin-bottom: 100px;
        padding-top: 150px;
    }
    h1 {
        font-size: 70px;
        font-weight: 900;
        width: 400px;
        letter-spacing: 4px;
        line-height: 90px;
        float: left;
        @media (max-width: $tablet) {
            float: none;
            width: 100%;
            margin-bottom: 40px;
        }
    }
    p {
        width: 600px;
        float: left;
        font-size: 28px;
        font-weight: 300;
        line-height: 40px;
        width: 100%;
        padding-right: 50%;
        @media (max-width: $desktop) {
            width: 100%;
            padding: 0;
        }
        @media (max-width: $tablet) {
            float: none;
            width: 100%;
        }
    }
    .banner-picture {
        float: right;
        margin-right: 50px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    .big-gear {
        width: 300px;
        height: 300px;
        background-image: url('../images/bigGear.svg');
        float: right;
        -webkit-animation:ccspin 6s linear infinite;
        -moz-animation:ccspin 6s linear infinite;
        animation:ccspin 6s linear infinite;
        @keyframes ccspin {
            from {transform:rotate(360deg);}
            to {transform:rotate(0deg);}
        }
    }
    .small-gear {
        width: 150px;
        height: 150px;
        background-image: url('../images/smallGear.svg');
        float: right;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
        @keyframes spin {
            from {transform:rotate(-360deg);}
            to {transform:rotate(0deg);}
        }
    }
}