.blog-view {
    margin-top: 200px;
    color: black;
}

.blog-posts {
	color: black;
	margin-top: 200px;
}

.posts-listing {
	color: black;
	margin-top: 200px;
}

.post-listing {
	color: black;
	margin-top: 200px;
}