.logo {
    float: left;
    h1 {
        font-size: 55px;
        font-weight: 300;
        letter-spacing: 4px;
        @media (max-width: $tablet) {
            font-size: 35px;
        }
    }
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    @include clearfix;
    position:fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $background;
    z-index: 500;
    max-height: 100%;
    @media (max-width: $tablet) {
        padding: 14px 0;
    }
    .header-container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1440px;
        position: relative;
        @include clearfix;
        margin: 0 auto;   
    }
}
.hamburger {
    &:before {
        @media (max-width: $tablet) {
            content: "\2261";
            padding: 0;
            margin: 0;
            font-size: 50px;
            display: block;
            position: fixed;
            right: 30px;
            top: 3px;
            color: #FFFFFF;
        }
    }
    &:hover:before {
        color: rgba(249,147,224,1)
    }
    border:none;
    padding: 0;
}
.nav-menu {
    padding-top: 20px;
    float: right;
    @media (max-width: $tablet) {
        padding-top: 0px;
        &.visible {
            width: 100%;
            li {
                &:first-child {
                    margin-top: 30px;
                    @media (max-width: $tablet) {
                        margin-top: 20px;
                    }
                }
                margin-bottom: 30px;
                display: block;
                font-size: 20px;
                @include clearfix;
                width: 100%;
                float: none;
                text-align: center;
                @media (max-width: $tablet) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    li {
        @media (max-width: $tablet) {
            display: none;
            width: 100%;
            float: none;
        } 
        float: left;
        margin-right: 30px;
        font-size: 20px;
        a {
            text-decoration: none;
            color: #FFFFFF;
        }
        a:hover {
            border-bottom: 2px solid #FFF;
            cursor: pointer;
        }
    }
    li:last-child {
        margin-right: 0;
        a {
            padding: 12px 12px 12px 12px;
            border-radius: 5px;
            background: $button-gradient;
            @media (max-width: $tablet) {
                padding: 6px 6px;
            }
            &:hover {
                border-bottom: none;
                background: $button-gradient-reverse;
            }
        }
    }
}