.login-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.97);
    z-index: 502;
}
.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 501;
    .form-container {
        width: 500px;
        border-radius: 10px;
        padding: 55px 55px 55px 55px;
        overflow: hidden;
        background: -webkit-linear-gradient(top, #7579ff, #b224ef);
        z-index: 502;
        @media (max-width: $tablet) {
            padding: 15px;
        }
        .login-symbol {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            font-size: 160px;
            @media (max-width: $tablet) {
                font-size: 80px;
                margin-bottom: 25px;
            }
        }
        .exit-login-button {
            padding: 0;
            content: none;
            margin: 0;
            border: none;
            background: none;
    
            @include clearfix;
            &:hover {
                cursor: pointer;
            }
            &:before {
                content: "\2715";
                font-size: 35px;
                color: #FFF;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .login-form {
           width: 100%;
            input, output {
                border: none;
                outline: none;
                background: transparent;
                color: #FFF;
                width: 100%;
                font-size: 20px;
                font-weight: 400;
                padding: 20px 20px 20px 0px;
                border-bottom: 3px solid rgba(255,255,255,0.24);
                z-index: 502;
                &::placeholder {
                    color: #FFF;
                }
            }
            .error-flash {
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 20px;
                display: block;
                color: yellow;
                text-align: center;
                font-size: 18px;
            }
            .login-username {
                margin-bottom: 20px;
            }
            .login-password {
                margin-bottom: 60px;
            }
            .button-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 130px;
                    height: 60px;
                    border-radius: 35px;
                    border: none;
                    background: #FFF;
                    color: #000;
                    font-size: 18px;
                    padding: 0 20px;
                    &:hover {
                        cursor: pointer;
                    }
                    @media (max-width: $tablet) {
                        height: 45px;
                        min-width: 100px;
                    }
                }
            }
            H2 {
                text-align: center;
                margin-bottom: 50px;
                font-weight: 700;
                @media (max-width: $tablet) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}