.services {

    .service {
        margin-bottom: 30px;
    }
    .row {
        margin-bottom: 60px;
        @media (max-width: 576px) {
            margin-bottom: 0px;
        }
        @media (max-width: 767px) {
            display: block;
        }
    }
    h2 {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 100px;
        font-weight: 900;
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
    }
    .service-title {
        text-align: center;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .icon {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        &.pe-7s-browser{
            color: #3BDEFF;
        }
        &.pe-7s-science{
            color: #FF5DE4;
        }
        &.pe-7s-phone{
            color: #FAFF60;
        }
        &.pe-7s-smile{
            color: #72FFB9;
        }
    }
    p.service-description {
        text-align:center;
        padding:0 40px 0 40px;
        line-height: 40px;
        font-weight: 300;
        @media (max-width: 576px) {
            padding: 0px;
        }
    }
}